h1 {
    color: #DAA520;
}

.socials {
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #8e0e00, #1f1c18);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.socials::before, .socials::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6%; /* Adjust based on the desired width of the fade effect */
    z-index: 1;
}

.socials::before {
    left: 0;
    background: linear-gradient(to right, #fff, transparent);
}

.socials::after {
    right: 0;
    background: linear-gradient(to left, #fff, transparent);
}

.socials a {
    color: white; /* Change icon color */
    margin: 0 10px; /* Spacing around the icon */
}

.socials a:hover {
    color: #ccc; /* Icon color on hover */
}

.fab {
    font-size: 24px; /* Change icon size */
}
