{% extends "layout.html" %}

{% block title %}
    About Yuvneesh
{% endblock %}

{% block pageHeading %}
    <h1>About me</h1>
{% endblock %}

{% block content %}
    <section class="row">
        <h2 style="color:cornflowerblue">Hello, I'm Yuvneesh Kashyap</h2>
        <p>I am a student at the University of Toronto, majoring in Physics with minors in Mathematics and Computer Science.<br>
           I am currently working as a Auto-Diagnostic Tech at ALS Oils and Lubricants.
        </p>
    </section>
    <section class="row">
        <h2 style="color:cornflowerblue">Motivation behind this website</h2>
        <p>There are a handful of few reasons that motivated me to work on building a website of my own.
            Largely, it is a hobby. I longed for a running project in which I could invest my burts of creativity. 
            I felt working on an umbrella project could be a lot more fruitful than having tens of unfinished ones.
            Another substantial reason is to facilitate showcasing my work. I have worked on numerous data handling projects 
            that sit locally in my "repos" directory. Perhaps creating there web counterparts would make it easier to share my work.
        </p>
    </section>

{% endblock %}