{% extends "layout.html" %}

{% block title %}
   Blogs by Yuvneesh - Physics Maths CS and other hobbies
{% endblock %}

{% block pageHeading %}
    <h1>Blogs</h1>
{% endblock %}


{% block content %}
    <div class="row">
        <a href="/blogs/20221114">Getting started with Latex</a>
    </div>
    <div class="row">
        <a href="/blogs/20221223">A physics lab report using Latex</a>
    </div>
    <div class="row">
        <a href="/blogs/20230923">Linear Algebra : equations, variables and solutions</a>
    </div>
    <div class="row">
        <a href="/blogs/20240205">Python Documentation Automation</a>
    </div>
    <div class="row">
        <a href="/blogs/20240212">Western University Trip 2024</a>
    </div>
{% endblock %}