{% extends "layout.html" %}

{% block title %}
    Conversion of soot absorbance results to soot percetage by mass based on ASTM D7844-22a
{% endblock %}

{% block pageHeading %}
    <h1>Soot absorbance to Soot percentage</h1>
{% endblock %}

{% block content %}
    <div class="container col-12 col-sm-6 col-md-4 mt-4 pt-2">
        <form method="POST" action="">
            {{ form.hidden_tag()}}
            <fieldset class="form-group">
            {% for field in fields %}
            <div class="form-group mt-4">
                {{ field.label(class="form-control-label")}}
                {{ field(class="form-control form-control-lg")}}
            </div>    
            {% endfor %}
        </fieldset>

    <div class="form-group d-flex justify-content-between">
    <button type="button" id="calc2" class="btn btn-primary mt-3">Calculate</button> 
    </div>

    <script>
    document.getElementById("calc2").onclick = function() {calculateSoot()};

    async function calculateSoot() {

    const payload = {"Absorbance" : document.getElementById("Absorbance").value}
    console.log(payload)
    const response = await fetch("/calculateSoot", {
        method: 'POST',
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify(payload)
    });

    const result = await response.json();
    document.getElementById("Soot").value = result.percentage;
    }

    </script>
    </form>
    </div>
    </div>
    </div>
{% endblock %}